.content {
    background-color: whitesmoke;
    
}


.description {
    color: black;
    margin: auto;
    width: 90%;
    background-color: white;
    margin: 25px;
}

.title {
    width: 100%;
}

.book-cover {
    width: 25%;
}

.book-description {
    width: 75%;
}

.operations {
    width 25%
}

.other-info {
    width: 75%;
}


.temp-img {
    margin: 10px;
    float: left;
}