body {
    background-color: whitesmoke;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 100px;
    background: #2F557F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.header-navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.header-login {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 35px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}



.header-bookmark-base {
    float: right;
    box-shadow: 5px -6px 5px 0px rgba(0, 0, 0, 0.25);
    width: 70px;
    height: 150px;
    background: #e58f8f;
}

.header-bookmark-circle {
    top: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
}

.header-bookmark-tri {
    left: -20%;
    top: 80px;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid white;
}

.nav-buttons {
    padding: 10px;
    margin: 5px;
    background-color: white;
    border: none;
    color: #2F557F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
}

.header-bookmark-animation {
}



