body {
    background-color: whitesmoke;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

.header {
    color: white;
    height: 100px;
    background: #2F557F;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    float: left;
}

.header-login {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 35px;
    float: right;
}

.link a:visited {
    text-decoration: none;
    color: white;
}



