body {
    background-color: whitesmoke;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 100px;
    background: #2F557F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.header-navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.header-login {
    display: flex;
    justify-content:center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.nav-buttons {
    padding: 10px;
    margin: 5px;
    background-color: white;
    border: none;
    color: #2F557F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
}

.nav-buttons:hover {
    transition: 0.2s;
    background: #d4d4d4;
}

.header-bookmark-animation {
}

.user-image {
    height: 50px;
    width: 50px;
}

