.page-title{
    margin-bottom: 50px;
}

.button-cancel {
    background-color: #A30000;
    color: white;
    border: 0;
    padding: 10px;
    float: right;
    margin: 10px;
    border-radius: 10px;
}

.button-save {
    background-color: #309161;
    color: white;
    border: 0;
    padding: 10px;
    float: right;
    margin: 10px;
    border-radius: 10px;
}



.button-container {
    margin: 50px;
}