body {
}

.content {
    height: 1000px;
}

.search-bar {
    height: 38px;
    width: 856px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-top: 25px;
}

.search-button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #404040;
    margin: 10px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.bottom-container {
    display: flex;
}

.result-container {
    background: red;
    height: 100px;
    width: 80%;
}

.filter-container {
    background: blue;
    height: 100px;
    width: 20%;
    text-align:center;
}

.filter {
    background: white;
}

.results {
    background: white;
}

a.item-card {
    color: black;
    text-decoration: none;
}

a.item-card:visited {
        color: black;
}