body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    height: 500px;
    width: 500px;
    margin: 0 auto;

}

.image-container {
    margin: 10px;
    text-align: center;
}

.image-container img{
    height: 100px;
    width: 100px;
}

.textbox-container {
    text-align: center;
}

.textbox {
    padding: 10px;
    margin: 10px;
}

.button-container {
    background: white;
    display: flex;
    height: min-content;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    align-items: space-between;
}


.buttons {
    width: 90%;
    background: white;
    margin: 10px;
    text-align: center;
}

.button-forgotpassword {
    background-color: #404040;
    color: white;
    border: 0;
    padding: 10px;
    float: left;
    margin: 10px;
}

.button-login {
    background-color: #2F557F;
    color: white;
    border: 0;
    padding: 10px;
    float: right;
    margin: 10px;
}

.create-account {
    text-align: center;
}