body {
    background-color: whitesmoke;
}

.login-container {
    background-color: white;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.image-container {
    margin: 10px;
    text-align: center;
}

.image-container img{
    height: 100px;
    width: 100px;
}

.textbox-container {
    text-align: center;
}

.textbox {
    padding: 10px;
    margin: 10px;
}

.button-container {
    background: blue;
    display: flex;
    height : min-content;
    width: 90%;
    justify-content: center;
    align-items: end;
    margin: 0 auto;
}


.buttons {
    background: red;
    margin: 10px;
}

.button-forgotpassword {
    background-color: #404040;
    color: white;
    border: 0;
    padding: 10px;
    float: left;
    margin: 10px;
}

.button-login {
    background-color: #2F557F;
    color: white;
    border: 0;
    padding: 10px;
    float: right;
    margin: 10px;
}

.create-account {
    text-align: center;
}