body {
}

.content {
    text-align-last: center;
}

.labels {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 20px;
}
.abe {
    text-align:center;
}
