.content {
    display: flex;
}

.navigation-buttons-container {
    width: 10%;
    background : blue;
}

.multiview {
    width: 90%;
    background: grey;
    display: flex;
}

.nav-buttons {
    width: 80%;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    background: white;
    border-radius: 10px;
}

.view-container {
    background: white;
    margin: 25px;
    width: 100%;
}

.labels {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.content-container {
    display: flex;
    justify-content:space-between;
}

.left-container {
    background-color: red;
    width: 33%;
}

.center-container {
    background-color: green;
    width: 33%;
}

.right-container {
    background-color: blue;
    width: 33%;
}