.footer-container {
    background: #252525;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item {
    width: 1000px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.footer-item-1 {
    min-height: 100px;
}

.footer-item-2 {
    min-height: 200px;
}

