body {
    font-family: Arial, Helvetica, sans-serif;
}

.banner-container {
    margin: 25px;
}

.banner {
    height: 100px;
    width: 80%;
    margin: auto;
    background: #2F557F;
    border-radius: 20px;
    overflow: hidden;
}

.search-bar-container {
    margin: 25px;
}

.list-container {
    margin: 25px;
}
.list {
    width: 65%;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.list-item {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
    padding: 10px;
    background: #2F557F;
    text-align: left;
    border-radius: 20px;
    display: flow-root;
    text-align: center;
}

.label-container {
    text-align: center;
}

.list-item-content {
    display: flex;
    justify-content: space-between;
    background: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 97%;
    border-radius: 20px;
}

.list-item-content-images {
    margin: 10px;
}

.advanced-search-button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #404040;
    margin: 10px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.search-bar-textbox {
    height: 38px;
    width: 856px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

a.item-card {
    color: black;
    text-decoration: none;
}

a.item-card:visited {
    color: black;
}