

.banner-container {
    margin: 25px;
}

.banner {
    
    height: 100px;
    width: 80%;
    margin: auto;
    background: blue;
    border-radius: 20px;
}

.search-bar-container {
    margin: 25px;
}

.list-container {
    margin: 25px;
}
.list {
    width: 65%;
    background: pink;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.list-item {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
    padding: 10px;
    background: #f0f0f0;
    text-align: left;
    border-radius: 20px;
    display: flow-root;
}

.label-container {
    margin-left: 10px;
}

.list-item-content {
    display: flex;
    justify-content: space-between;
    background: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 97%;
    border-radius: 20px;
}

.list-item-content-images {
    margin: 10px;
}
